body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header{
    background-color: #1e7c8f;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    padding: 20px;
}